@font-face {
  font-family: "iconfont"; /* Project id 3578004 */
  src: url('iconfont.woff2?t=1661221554435') format('woff2'),
       url('iconfont.woff?t=1661221554435') format('woff'),
       url('iconfont.ttf?t=1661221554435') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-proxy-lianxiwomen:before {
  content: "\e635";
}

.icon-proxy-youxiang:before {
  content: "\e68b";
}

.icon-proxy-chanpin:before {
  content: "\e602";
}

.icon-proxy-weixin:before {
  content: "\e659";
}

.icon-proxy-zhifubaozhifu:before {
  content: "\e65e";
}

.icon-proxy-weixinzhifu:before {
  content: "\e634";
}

.icon-proxy-zhifubao:before {
  content: "\e666";
}

.icon-proxy-zhifu:before {
  content: "\e8f9";
}

.icon-proxy-shijian:before {
  content: "\e665";
}

.icon-proxy-shijianzhouqi:before {
  content: "\e996";
}

.icon-proxy-chanpincanshu:before {
  content: "\e601";
}

.icon-proxy-wenhao:before {
  content: "\e72d";
}

.icon-proxy-name:before {
  content: "\e6b4";
}

.icon-proxy-bingfashuliang:before {
  content: "\e606";
}

.icon-proxy-yonghu:before {
  content: "\e600";
}

.icon-proxy-shouqicaidan:before {
  content: "\e622";
}

.icon-proxy-zhankaicaidan:before {
  content: "\e624";
}

.icon-proxy-tuichu:before {
  content: "\e60f";
}

.icon-proxy-dingdan:before {
  content: "\e60a";
}

.icon-proxy-lianjie:before {
  content: "\e60b";
}

.icon-proxy-shangpin:before {
  content: "\e60d";
}

.icon-proxy-huiyuan:before {
  content: "\e60e";
}

